body{
    font-family: 'Roboto', sans-serif;;
    background-color: #EEEEEE;
}
.wrapper {
    display: flex;
    width: 100%;
}
nav.navbar{
    background-color: #ffffff;
}
#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #ffffff;
    color: #006EFF;
    transition: all 0.3s;
    
    justify-content: space-between;
}
.perfilBoton{
    border-radius:28px;
    background: #ffffff;
    border:none;
    color: black;
	display:inline-block;
	cursor:pointer;
	font-weight: bold;
	font-family:Arial;
	font-size:17px;
    padding:0px 60px;
    margin-top: 5%;
	
	
}
.homeBoton:hover{
    background:#006EFF;
    color: white;
    font-weight: bold;
}
.homeBoton{
    border-radius:28px;
    background: #ffffff;
    border:none;
    color: black;
	display:inline-block;
	cursor:pointer;
	font-weight: bold;
	font-family:Arial;
	font-size:17px;
	padding:0px 60px;
	
	
}
.perfilBoton:hover{
    background:#006EFF;
    color: white;
    font-weight: bold;
}

.agregarBoton{
    margin-top: 250%;
    border-radius:28px;
    background: #ffffff;
    border:none;
    color: white;
	display:inline-block;
    cursor:pointer;
    letter-spacing: 0.05rem;
	font-weight: 600;
	font-family:Arial;
	font-size:15px;
	padding:0px 20px;
    background:#006EFF;
    box-shadow: 4px 4px 4px #D3D2D2;
	
}

p.usuario{
    margin-left: auto;
    margin-right: 25px;
    margin-top: 12px;
}
.icon-home:before {
    content: "\e900";
  }
  .sidebar-header{
      align-content: center;
  }
  .list-unstyled{
      text-align: center;
  }
 .bg-light{
     background-color: #F5F5F5 !important;
 }
 .rowCarta1{
     margin-left: 10%;
     width: 100%;
     display: flex;
     justify-content: space-around;
 }
 .rowCarta2{
    display: flex;
    margin-left: 10%;
    width: 100%;
    justify-content: space-around;
    margin-top:2%;
}
 .card1{
     margin-top: 5%;
     background-color:#ffffff;
     border: 1px solid #F5F5F5;
     border-radius:11px 11px 11px 11px;
     box-shadow: 5px 5px #E6E6E6;
     justify-content: space-around;
 }
 .card2 img{
     
   max-height:2%;
}
a{
    text-decoration: none;
}
.card-img-top{
    max-width: 80%;
    max-height: 150px;
}
 .card2{
     margin-left: 20%;
    background-color:#ffffff;
    border: 1px solid #F5F5F5; 
    box-shadow: 5px 5px #E6E6E6;
}
h3{
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    display: flex;
}
h2.productos{
    text-align: center;
}
.img-perfil{
    border-radius: 100%;
    width: 50px;
}
navbar{
    display: flex;
}
 section#cartas{
text-align: center;
 }
 div.boton{
    display: flex;
     
    margin-top: 5%;

 }
 div.boton button{
     display: flex;
     margin:auto;
     justify-content: center;
     align-items: center;
 }
 .registro{
     margin-top: 10%;
     background-color: #ffffff;
     padding-bottom: 5%;
     padding-left: 5%;
     padding-top: 5%;
     padding-right: 5%;
     box-shadow: 5px 5px #E6E6E6;
     border-radius:11px 11px 11px 11px;
 }
 .imgForm{
     width: 10%;
 }
