.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #ffffff;
    color: #006EFF;
    transition: all 0.3s;
    
    justify-content: space-between;
}
p.usuario{
    margin-left: auto;
    margin-right: 25px;
    margin-top: 12px;
}
.icon-home:before {
    content: "\e900";
  }
  .sidebar-header{
      align-content: center;
  }
  body{
      background-color: #F5F5F5;
  }
  .list-unstyled{
      text-align: center;
  }
 .bg-light{
     background-color: #F5F5F5 !important;
 }
 .card1{
     
     background-color:#ffffff;
     border: 1px solid #F5F5F5;
     border-radius: 20px; 
     box-shadow: 5px 5px #EEEEEE;
     justify-content: space-around;
 }
 .card2{
     margin-left: 20%;
    background-color:#ffffff;
    border: 1px solid #F5F5F5; 
    box-shadow: 5px 5px #EEEEEE;
}
h3{
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    display: flex;
    

}
.img-perfil{
    border-radius: 100%;
    width: 50px;
}
navbar{
    display: flex;
}
 section#cartas{
     display: flex;
     justify-content: space-evenly;

 }